.listItem {
  font-size: 18px;
  margin-top: 10px;
}

.listItem::before {
  content: '~';
  font-weight: bolder;
  color: #757575;
  margin-right: 5px;
}

.movieContainer {
  margin: 20px 40px 0 40px;
  padding: 15px 0;
  border-top: 2px solid #afb1b8;
  border-bottom: 2px solid #afb1b8;
}
