.moviesButton {
  display: flex;
  align-items: center;
  background-color: rgb(198, 194, 194);
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 20px;
  padding: 5px 7px 5px 2px;
  border-radius: 3px;
  overflow: hidden;
  border: none;
  color: #757575;
  cursor: pointer;
}

.moviesButton:focus,
.moviesButton:hover {
  background-color: rgb(210, 209, 209);
}
