.list {
  padding: 15px 0;
}

.listItem {
  font-size: 18px;
}

.listItem:not(:last-child) {
  margin-bottom: 20px;
}

.title::before {
  content: '~';
  font-weight: bolder;
  color: #757575;
  margin-right: 5px;
}

.description {
  margin-left: 15px;
  margin-top: 5px;
  text-align: justify;
}
